<!-- FOOTER SECTION -->
<footer class="footer-section">
    <div class="container">
        <div class="middle-portion">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12  mt-5">
                    <div class="footer_logo">
                        <a href="./index.html" class="text-decoration-none">
                            <figure class="mb-0"><img src="./assets/images/logo.webp" alt="" class="img-fluid">
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mt-5">
                    <div class="about_col">
                        <h4>About Us</h4>
                        <ul class="list-unstyled">
                            <li>
                                <p>I'm Lori Leonard, a Psychiatric Mental Health Nurse Practitioner Adult Gerontology
                                    Nurse Practitioner.
                                </p>
                            </li>
                            <li class="icons"><a href="https://www.facebook.com/theMindsetforprosperity/"><i class="fa-brands fa-facebook-f" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12  mt-5">
                    <div class="links_col">
                        <h4>Quick Links</h4>
                        <ul class="list-unstyled">
                            <li>
                                <a href="./index.html">Home</a>
                            </li>
                            <li>
                                <a href="./about.html">About Us</a>
                            </li>
                            <li>
                                <a href="./mental-health.html">Mental Health</a>
                            </li>
                            <li>
                                <a href="./weight-loss.html">Weight Loss</a>
                            </li>
                            <li>
                                <a href="./contact.html">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12  mt-5">
                    <div class="contact_col">
                        <h4>Contact Info</h4>
                        <ul class="list-unstyled">
                            <li class="contact_icons">
                                <i class="fa-solid fa-phone"></i>
                                <a href="tel:7064065093" class="text-decoration-none">(706) 406-5093</a>
                            </li>
                            <li class="contact_icons">
                                <i class="fa-sharp fa-solid fa-envelope"></i>
                                <a href="mailto:info@themindsetforprosperity.com" class="text-decoration-none"
                                    style="font-size: .9rem; white-space:nowrap;">Info@themindsetforprosperity.com</a>
                            </li>
                            <li class="mb-0">
                                <i class="fa-solid fa-location-dot location"></i>
                                <span>413 Shorter Avenue, Suite 103</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-portion d-flex justify-content-between">
        <div class="copyright col-lg-6">
            <p>Copyright 2022, Mindset For Prosperity - All Rights Reserved.</p>
        </div>
        <div class="copyright col-lg-6">
            <p>Website created by <a target="_blank" href="https://launcheffect.io/">LaunchEffect</a></p>
        </div>
    </div>
    <div class="footer_shape right_shape">
        <figure class="mb-0"><img src="./assets/images/footer_shape.png" alt="" class="img-fluid"></figure>
    </div>
</footer>