<!-- FOOTER SECTION -->
<footer class="footer-section">
  <div class="container">
    <div class="middle-portion">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mt-5">
          <div class="footer_logo">
            <a
              href="./index.html"
              class="text-decoration-none"
              aria-label="Mindset body reset footer logo"
            >
              <figure class="mb-0 mx-auto">
                <img
                  src="./assets/images/new-logo.svg"
                  alt=""
                  class="img-fluid"
                  width="842"
                  height="595"
                />
              </figure>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mt-5">
          <div class="about_col">
            <h3 class="footer__title">About Us</h3>
            <ul class="list-unstyled">
              <li>
                <p>
                  I'm Lori Leonard, a Psychiatric Mental Health Nurse
                  Practitioner Adult Gerontology Nurse Practitioner.
                </p>
              </li>
              <li class="icons">
                <a
                  href="https://www.facebook.com/theMindsetforprosperity/"
                  aria-label="Facebook page"
                  ><i class="fa-brands fa-facebook-f" aria-hidden="true"></i
                ></a>
              </li>
              <li class="icons">
                <a href="#" aria-label="Twitter account"
                  ><i class="fa-brands fa-twitter" aria-hidden="true"></i
                ></a>
              </li>
              <li class="icons">
                <a href="#" aria-label="Linkedin account"
                  ><i
                    class="fa-brands fa-linkedin-in mr-0"
                    aria-hidden="true"
                  ></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mt-5">
          <div class="links_col">
            <h3 class="footer__title">Quick Links</h3>
            <ul class="list-unstyled">
              <li>
                <a href="./index.html">Home</a>
              </li>
              <li>
                <a href="./about.html">About Us</a>
              </li>
              <li>
                <a href="./mental-health.html">Mental Health</a>
              </li>
              <li>
                <a href="./weight-loss.html">Weight Loss</a>
              </li>
              <li>
                <a href="./contact.html">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mt-5">
          <div class="contact_col">
            <h3 class="footer__title">Contact Info</h3>
            <ul class="list-unstyled">
              <li class="contact_icons">
                <i class="fa-solid fa-phone"></i>
                <a href="tel:7064065093" class="text-decoration-none"
                  >(706) 406-5093</a
                >
              </li>
              <li
                class="contact_icons"
                style="display: flex; align-items: center"
              >
                <i class="fa-sharp fa-solid fa-envelope"></i>
                <a
                  href="mailto:info@themindsetforprosperity.com"
                  class="text-decoration-none"
                  style="white-space: nowrap"
                  >Info@themindsetforprosperity.com</a
                >
              </li>
              <li class="mb-0">
                <i class="fa-solid fa-location-dot location"></i>
                <span>409 W 10th St Rome, GA 30165</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-portion d-flex justify-content-between">
    <div class="copyright col-lg-6">
      <p>Copyright 2022, Mindset Body Reset - All Rights Reserved.</p>
    </div>
    <div class="copyright col-lg-6">
      <p>
        Website created by
        <a
          style="font-weight: 600; color: #fff"
          target="_blank"
          href="https://launcheffect.io/"
          >LaunchEffect</a
        >
      </p>
    </div>
  </div>
  <div class="footer_shape right_shape">
    <figure class="mb-0">
      <img
        src="./assets/images/footer-shape.webp"
        alt="footer shape"
        class="img-fluid"
      />
    </figure>
  </div>
</footer>
