<section class="get_in_touch_section">
    <div class="">
        <div class="row" data-aos="fade-up">
            <div class="col-lg-6  col-sm-12 col-xs-12" style="background-color: #E0CCAC;padding-block: 6rem;">
                <div class="services get_in_touch_content">
                    <h5>Get in touch</h5>
                    <h2>Get a Free Consultation Now</h2>
                    <form>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group mb-0">
                                    <input type="text" name="fname" id="fname" class="form-control"
                                        placeholder="First Name">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group mb-0">
                                    <input type="text" name="lname" id="lname" class="form-control form_style"
                                        placeholder="Last Name">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group mb-0">
                                    <input type="tel" name="phonenum" id="phonenum" class="form-control"
                                        placeholder="Phone">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group mb-0">
                                    <input type="email" name="emailaddrs" id="emailaddrs"
                                        class="form-control form_style" placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class=" form-group mb-0">
                                    <textarea rows="3" name="comment" id="msg" class="form-control"
                                        placeholder="Message"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="btn_wrapper">
                            <button type="submit" name="get_started" id="started">Get Started</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 col-xs-12" style="background: url('./assets/images/backgrounds/dark.jpg'); ">
                <div class="quote_from_bible ">
                    <h3>3 John 1:2: Beloved, I pray that you may prosper in all things and be in health, just as
                        your soul prospers.</h3>
                </div>
            </div>

        </div>
        <figure class="get_in_touch_shape left_shape mb-0">
            <img src="./assets/images/get_in_touch_shape.png" alt="" class="img-fluid">
        </figure>
    </div>
</section>